CandidatosWeb/Connected Services/ServiceUbigeo/CandidatosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CandidatosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CandidatosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departamento" nillable="true" type="tns:Departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamento" nillable="true" type="tns:ArrayOfDepartamento" />
  <xs:complexType name="Departamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomDepartamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamento" nillable="true" type="tns:Departamento" />
  <xs:complexType name="ArrayOfProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provincia" nillable="true" type="tns:Provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvincia" nillable="true" type="tns:ArrayOfProvincia" />
  <xs:complexType name="Provincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomProvincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provincia" nillable="true" type="tns:Provincia" />
  <xs:complexType name="ArrayOfDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Distrito" nillable="true" type="tns:Distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrito" nillable="true" type="tns:ArrayOfDistrito" />
  <xs:complexType name="Distrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomDistrito" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distrito" nillable="true" type="tns:Distrito" />
</xs:schema>