CandidatosWeb/Connected Services/ServiceEstudio/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioEstudio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CandidatosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEstudio_ConsultarNotasAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNotasAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioEstudio_ConsultarNotasAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNotasAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEstudio_ConsultarPorcentajeInasistenciaAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorcentajeInasistenciaAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioEstudio_ConsultarPorcentajeInasistenciaAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorcentajeInasistenciaAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEstudio_ConsultarPromedioPorCursoAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromedioPorCursoAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioEstudio_ConsultarPromedioPorCursoAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromedioPorCursoAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEstudio">
    <wsdl:operation name="ConsultarNotasAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarNotasAlumno" message="tns:IServicioEstudio_ConsultarNotasAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarNotasAlumnoResponse" message="tns:IServicioEstudio_ConsultarNotasAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorcentajeInasistenciaAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarPorcentajeInasistenciaAlumno" message="tns:IServicioEstudio_ConsultarPorcentajeInasistenciaAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarPorcentajeInasistenciaAlumnoResponse" message="tns:IServicioEstudio_ConsultarPorcentajeInasistenciaAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPromedioPorCursoAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarPromedioPorCursoAlumno" message="tns:IServicioEstudio_ConsultarPromedioPorCursoAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEstudio/ConsultarPromedioPorCursoAlumnoResponse" message="tns:IServicioEstudio_ConsultarPromedioPorCursoAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEstudio" type="tns:IServicioEstudio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarNotasAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioEstudio/ConsultarNotasAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorcentajeInasistenciaAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioEstudio/ConsultarPorcentajeInasistenciaAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPromedioPorCursoAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioEstudio/ConsultarPromedioPorCursoAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEstudio">
    <wsdl:port name="BasicHttpBinding_IServicioEstudio" binding="tns:BasicHttpBinding_IServicioEstudio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CandidatosWCF/ServicioEstudio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>