CandidatosWeb/Connected Services/ServiceAlumno/CandidatosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CandidatosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CandidatosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlumnoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DniAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecInscrip" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromGlobal" type="xs:double" />
      <xs:element minOccurs="0" name="TelAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbiAlumno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnoBE" nillable="true" type="tns:AlumnoBE" />
  <xs:complexType name="ArrayOfAlumnoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlumnoBE" nillable="true" type="tns:AlumnoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumnoBE" nillable="true" type="tns:ArrayOfAlumnoBE" />
  <xs:complexType name="ArrayOfAlumnoOcurrenciaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlumnoOcurrenciaBE" nillable="true" type="tns:AlumnoOcurrenciaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumnoOcurrenciaBE" nillable="true" type="tns:ArrayOfAlumnoOcurrenciaBE" />
  <xs:complexType name="AlumnoOcurrenciaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescOcurrencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaOcurrencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombAlumno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnoOcurrenciaBE" nillable="true" type="tns:AlumnoOcurrenciaBE" />
</xs:schema>