CandidatosWeb/Connected Services/ServiceAlumno/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioAlumno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CandidatosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorDni_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorDni" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorDni_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorDniResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorTelefono_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorTelefono" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorTelefono_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorTelefonoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorNombreApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorNombreApellido" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoPorNombreApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoPorNombreApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoOcurrencias_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoOcurrencias" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumnoOcurrencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoOcurrenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarTopCincoAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTopCincoAlumnos" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarTopCincoAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTopCincoAlumnosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioAlumno">
    <wsdl:operation name="ConsultarAlumnoPorDni">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorDni" message="tns:IServicioAlumno_ConsultarAlumnoPorDni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorDniResponse" message="tns:IServicioAlumno_ConsultarAlumnoPorDni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorTelefono">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorTelefono" message="tns:IServicioAlumno_ConsultarAlumnoPorTelefono_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorTelefonoResponse" message="tns:IServicioAlumno_ConsultarAlumnoPorTelefono_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorCorreo" message="tns:IServicioAlumno_ConsultarAlumnoPorCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorCorreoResponse" message="tns:IServicioAlumno_ConsultarAlumnoPorCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorNombreApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorNombreApellido" message="tns:IServicioAlumno_ConsultarAlumnoPorNombreApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorNombreApellidoResponse" message="tns:IServicioAlumno_ConsultarAlumnoPorNombreApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoOcurrencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoOcurrencias" message="tns:IServicioAlumno_ConsultarAlumnoOcurrencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoOcurrenciasResponse" message="tns:IServicioAlumno_ConsultarAlumnoOcurrencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTopCincoAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarTopCincoAlumnos" message="tns:IServicioAlumno_ConsultarTopCincoAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarTopCincoAlumnosResponse" message="tns:IServicioAlumno_ConsultarTopCincoAlumnos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioAlumno" type="tns:IServicioAlumno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarAlumnoPorDni">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorDni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorTelefono">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorTelefono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoPorNombreApellido">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumnoPorNombreApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumnoOcurrencias">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumnoOcurrencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTopCincoAlumnos">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarTopCincoAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAlumno">
    <wsdl:port name="BasicHttpBinding_IServicioAlumno" binding="tns:BasicHttpBinding_IServicioAlumno">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CandidatosWCF/ServicioAlumno/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>