CandidatosWeb/Connected Services/ServiceAlumno/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CandidatosWCF" />
  <xs:element name="ConsultarAlumnoPorDni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorDniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarAlumnoPorDniResult" nillable="true" type="q1:AlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarAlumnoPorTelefonoResult" nillable="true" type="q2:AlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarAlumnoPorCorreoResult" nillable="true" type="q3:AlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorNombreApellido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoPorNombreApellidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarAlumnoPorNombreApellidoResult" nillable="true" type="q4:ArrayOfAlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoOcurrencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoOcurrenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarAlumnoOcurrenciasResult" nillable="true" type="q5:ArrayOfAlumnoOcurrenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTopCincoAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTopCincoAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CandidatosWCF" minOccurs="0" name="ConsultarTopCincoAlumnosResult" nillable="true" type="q6:ArrayOfAlumnoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>